body {
    background: #151515 ;
    color: navajowhite ;
    max-width: 850px ;
    margin: auto ;
    padding: 0 16px ;
    margin-bottom: 500px ;
    scrollbar-color: gray #151515;
    font-family: sans-serif ;
}
